.addButton {
    background-color: #4d7db8;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 4px 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.textCenter {
    text-align: center;
}

.greenCustom {
    background-color: #70a789;
}
